# Rx and Tx buffers' size
Switch.bufferSize=10

# CAM table
CAM.size=16
CAM.TTL=10

# Percentage of broadcast traffic, excluding CAM learning
Switch.broadcast=5

# Ethernet interfaces state; true is UP, false is DOWN
Switch.interface0=true
Switch.interface1=true
Switch.interface2=true
Switch.interface3=false
Switch.interface4=false
Switch.interface5=false
Switch.interface6=false
Switch.interface7=false

# Switching mode; true for Cut-Through, false for Store&Forward
Switch.mode=true

# Frame size
Switch.fixedFrame=true

# Handling mode; 0 for instant, 1-4 for length percentage, 5 for EXP
Switch.handling=0

# Minimal delay between frames
Switch.delay=0

# Number of seconds for simulator to run
Simulator.iterations=10

# RNG used for traffic generation
# 0 - UNIFORM(min,max), 1 - EXPONENTIAL(lambda), 2 - NORMAL(mean,deviation)
# Please note that not all parameters may be used for each RNG
TrafficRNG.type=1
TrafficRNG.param1=0.001
TrafficRNG.param2=0
